<?xml version="1.0" encoding="UTF-8"?><module codename="org.netbeans.modules.soa.xpath.mapper">
    <module_version install_time="1540339276918" last="true" origin="installer" specification_version="8.2">
        <file crc="701798522" name="config/Modules/org-netbeans-modules-soa-xpath-mapper.xml"/>
        <file crc="2238789696" name="modules/org-netbeans-modules-soa-xpath-mapper.jar"/>
    </module_version>
</module>
